/*.menu{
	width: 940px;
	height: 55px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color: #333;
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(255,255,255,.6);
	box-shadow: inset 0 1px 1px rgba(255,255,255,.6);
	border: solid 1px #dcdcdc;
	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.15), rgba(255,255,255,.15));
	background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.15), rgba(255,255,255,.15));
	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.15), rgba(255,255,255,.15));
	background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.15), rgba(255,255,255,.15));
	background-image: linear-gradient(to top, rgba(0,0,0,.15), rgba(255,255,255,.15));
}*/

.menu{
	width: 940px;
	height: 55px;
	margin: 0 auto;
}
/*@media only screen and (max-width : 768px){
	.sf-menu li{
		display: block !important;
	}
	.sf-menu li {
    float:none;
    width:100%;
    display:block;
  }
  
  .sf-menu li:hover ul,
   .sf-menu li:active ul{
  	display: block !important;
    position:relative;
    left:0;
}
}*/
@media only screen and (max-width:768px) {
  /* Override SuperFish styles here for mobile users */
  .sf-menu li {
    float:left;
    width:100%;
    display:block;
  }
  
  .sf-menu li:hover ul {
    position:relative;
    left:0;
    /* you might want to do something else instead here like use Javascript to handle the click event on the menu to show sub-navigation instead of on hover */
  }
}